appdirs==1.4.4
astropy==5.2.2
beautifulsoup4==4.12.2
brotlipy==0.7.0
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
cryptography @ file:///work/ci_py311_2/cryptography_1679335572456/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython==0.29.34
fonttools==4.25.0
gwdatafind==1.1.3
h5py==3.8.0
idna @ file:///work/ci_py311/idna_1676822698822/work
igwn-auth-utils==0.4.0
jax @ file:///work/ci_py311/jax_1676840018216/work
jaxlib @ file:///work/ci_py311/jaxlib_1676830843460/work/dist/jaxlib-0.3.25-cp311-cp311-manylinux2014_x86_64.whl
Jinja2==3.1.2
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
lalsuite==7.15
ligo-segments==1.4.0
lscsoft-glue==3.0.1
Mako==1.2.4
MarkupSafe==2.1.2
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
mkl-fft==1.3.6
mkl-random @ file:///work/mkl/mkl_random_1682950433854/work
mkl-service==2.4.0
mpld3==0.5.9
munkres==1.1.4
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
opt-einsum @ file:///tmp/build/80754af9/opt_einsum_1621500238896/work
packaging @ file:///croot/packaging_1678965309396/work
pegasus-wms.api==5.0.5
pegasus-wms.common==5.0.5
Pillow==9.4.0
ply==3.11
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
PyCBC==2.2.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyerfa==2.0.0.3
PyJWT==2.7.0
pyOpenSSL @ file:///croot/pyopenssl_1678965284384/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
PyQt5-sip==12.11.0
pyRXP==3.0.1
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-ligo-lw==1.8.3
PyYAML==6.0
requests @ file:///croot/requests_1682607517574/work
ripplegw==0.0.2
safe-netrc==1.0.1
scipy==1.10.1
scitokens==1.7.4
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
soupsieve==2.4.1
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado @ file:///work/ci_py311/tornado_1676823418767/work
tqdm==4.65.0
typing_extensions @ file:///croot/typing_extensions_1681939499988/work
urllib3 @ file:///croot/urllib3_1680254681959/work
